@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
 
*{
 font-family: 'Poppins', sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
scroll-behavior: smooth;
 }
 header{
   background-color: aliceblue;
   width: 100%;
  position: fixed;
   z-index: 999;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 200px;
}

.logo{  
   text-decoration: none;
   color: blue;
   text-transform: uppercase;
   font-size: 1.8em;
   font-weight: 700;
}
.navigation a{
color: blue;
text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px;
}
.navigation a:hover{
   color: #601cf6;
}
 section{
   padding: 100PX 200PX;
   
 }
 .main{
   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;


background:url(images/174902.jpg) no-repeat;
background-size: cover;    
background-position: center;
background-attachment: fixed;
 }

 .main h2{
color: white;
font-size: 1.4em;
font-weight: 500px;

 }
  .main h2 span {
   display: inline-block;
   margin-top: 10px;
 color: #4e9eff;
 font-weight: 600px;
 font-size: 3em;

  }
  .main h3{
color: #ffff;
letter-spacing: 1px;
font-size: 1.5em;
font-weight: 700;
margin-top: 10px;
margin-bottom: 13px;

  }

  .main-btn{
display: inline-block;
 color: #ffff;
 text-decoration: none;
 letter-spacing: 1px;
 background-color: rgb(15, 63, 223);
 padding: 0.9375em 2.1875em;
 border-radius: 15px;
 margin-top: 10px;
 margin-bottom:10px ;
 font-size: 1.1em;
 font-weight: 600;
 transition: 0.7s ease;
  }

  .main-btn:hover{
   background-color:rgb(12, 51, 179);
   transform: scale(1.1);
  }

.social-icons a{
   color: #ffff;
   font-size: 1.5em;
   padding-right: 30px;
}

.titel{
   display:flex;
   justify-content: center;
   color:  blue;
   font-size: 2em;
   font-weight: 800;
   margin-bottom: 30px;
}
.content{
display: flex;
justify-content: center;
flex-direction: row;
/*flex-wrap: wrap;*/
}

.cared{
   background-color: #ffff;
   width: 20.25em;
   box-shadow: 0 5px 25px rgba(1, 1 , 1, 20% );
   border-radius: 10px;
   padding: 25px;
   margin:15px ;
   transition: 0.7s ease;
}
.cared:hover{
   transform: scale(1.1);
}

.icon{
   color: rgb(49, 69, 255);
   font-size: 8em;
   text-align: center;
}
.info h4{
color: rgb(49, 69, 255);
font-size: 1.2em;
font-weight: 700;
}
.info{

   text-align: center;

}
 .projects{
   background-color: rgb(4, 2, 32);

 }

 .project .content{
 margin-top: 30px;

}

.project-card{
   background-color: #ffff;
   border: #ffff 1px solid;
   min-height: 14em;
   width: 20em;
   overflow: hidden;
   border-radius: 10px;
   margin: 20px;
   transition: 0.7s ease;
}
 .project-card:hover{
   transform: scale(1.1);
   
 }

 .project-card:hover .project-img{
   opacity: 0.9;   
 }

 .project-img {
   width: 100%;

 }
 .project-info{
   padding: 1em;
 }
 
 .project-cetigory{
   font-size: 0.8em;
   color: black;
 }
 
 .project-titel {
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
   font-weight: 800;
   margin-top: 10px;
}

.more-details {
   text-decoration: none;
   color: #3a6cf4;
}

.more-details:hover {
   color: #601cfc;
}

.contact .icon{
   font-size: 4.5em;
}
.contact .info h4{
   color: black;
}

.contact .info p{
   font-size: 1.3em;
}
.footer{
   background-color: rgb(4, 2, 32) ;
   color: #ffff;
   padding: 2em;
   display: flex;
   justify-content: space-between;
   
}
.footer-titel{
   font-size: 1.3em;
   font-weight: 600;
}

.footer-titel span{
color: #3a6cf4;
}

.footer .social-icons a{
   font-size: 1.3em;
}

@media (max-width:1023px){
   header{
       padding: 12px 20px;
   }

   .navigation a{
       padding-left: 10px;
   }

   .title{
       font-size: 1.8em;
   }

   section{
       padding: 80px 20px;
   }

   .main-content h2{
       font-size: 1em;
   }

   .main-content h3{
       font-size: 1.6em;
   }

   .content{
       flex-direction: column;
       align-items: center;
   }

}

@media (max-width:641px){
   body{
       font-size: 12px;
   }

   .main-content h2{
       font-size: 0.8em;
   }

   .main-content h3{
       font-size: 1.4em;
   }
}

@media (max-width:300px){
   body{
       font-size: 10px;
    
   }
}